// Pages Simple Theme  
// --------------------------------------------------
// Copyright Reserved Revox - 2014
// --------------------------------------------------

// Import Vars
@import "var.less";

//Theme Overwrite

.page-sidebar .sidebar-header{  
	//background-color: @color-success;
}
.page-container .header{
	//background: transparent;
}

.social-wrapper .social .feed > .day > .item{
	border: 0;
}

.btn.profile-toggle {
	padding-top: 9px;
	padding-bottom: 9px;
}

.redactor-box .redactor-toolbar > li {
	border-right: 1px solid #ccc;
	& > a {
		padding: 20px;
	}
}

.nav-tabs ~ .tab-content {
	overflow: visible;
}


.dashboard-widget {
	.lead {
		position: absolute;
		content: " ";
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		z-index: 0;
		opacity: .69;
		width: 100%;
		height: 100%;
		transition: all 1s;
	}
	&:hover {
		.lead {
			transform: scale(1.2);
			opacity: .8;
		}
	}
}

.bg-brand {
	background-color: #222;
}

.panel-heading {
	.dropdown-menu {
		padding-top: 0;
		padding-bottom: 0;
		li {
			a {
				opacity: 1;
			}
		}
		&>li:first-child {
			padding-top: 0;
		}
		&>li:last-child {
			padding-bottom: 0;
		}
	}
}

.copyright {
	display: none;
}

.table>thead>tr>th {
	padding-left: 20px;
	padding-right: 20px;
}
