/*------------------------------------------------------------------
Pages v2.1.2
Theme : Default
Generated From LESS
[Table of contents]

1. Layouts
2. View Ports
3. Chat
4. Panels
5. Typography
6. Buttons
7. Alerts
8. Notifications
9. Progress Indicators
10. Modals
11. Tabs & Accordians
12. Sliders
13. Treeview
14. Nestables
15. Form Elements
16. Tables & Datatables
17. Charts
18. Lists
19. Social App
20. Email App
21. Calendar App
22. Login
23. Lockscreen
24. Timeline
25. Gallery
26. Vector Map
27. Widgets
28. Misc
29. Print
30. Demo
-------------------------------------------------------------------*/
// Color functions
@import "color";
// Import Vars
@import "var";
// Theme
@import "sanatorium/var";
// Bootstrap
@import "./../../bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// Mixins tools
@import "mixins";
// Includes of Modules
@import "modules";
// Responsive Util
@import "responsive";

// Fixes
select.input-sm {
  line-height: normal;
}

.sidebar-menu {
  padding-top: 20px;
}

.redactor.form-control:focus {
  background-color: #111;
}

.panel .panel.panel-menu .panel-heading {
  padding: 10px 20px;
  border: 1px solid #ddd;
}

.panel .panel-menu .panel-body {
  border: 1px solid #ddd;
  border-top: 0;
}

.brand.inline {
  font-size: 23px;
}

.header .brand {
  vertical-align: middle;
  width: 0px;
  text-align: left;
  padding-left: 80px;
  font-size: 0;
}

.panel-grid {
  //margin-top: 50px;
  @media(min-width: $screen-sm-min) {

  }
}

.menu-pin .header .header-inner {
  /*min-width: 280px;*/
}

/**
 * Checkbox filter
 */
.tab-content.filters {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.filter-checkbox {
  padding: 8px 15px;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  margin: 5px;
  &:hover {
    border: 1px solid #bbb;
  }
}


.container-fluid.container-fixed-lg {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.menu-pin .container-fluid.container-fixed-lg {
  @media(min-width: 1824px) {
    width: 100%;
  }
}

/**
 * Color setup
 */
body {
  background-color: $body-background;
  /*
  background: #eeeff3;
  background: linear-gradient(to bottom,  #f2f2f2 0%,#eeeff3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#eeeff3',GradientType=0 );
  background-attachment: fixed;
  */
}

.page-sidebar, .header, .page-sidebar .sidebar-header {
  background-color: transparent;
}

.page-container .page-content-wrapper .content {
  padding-top: 20px;
}

.bg-gray-lighter {
  background-color: $color-master-lighter;
}

.bg-gray-lightest {
  background-color: $color-master-lightest;
}

.bg-modal-secondary {
  background-color: #f2f2f2;
}

.extension-details {
  h2, .lead {
    display: block;
    float: left;
    width: 60%;
  }
}

.content {
  padding-left: 15px;
  padding-right: 15px;
}

.social-wrapper .social .feed > .day > .item {
  border: 0;
}

.btn.profile-toggle {
  padding-top: 9px;
  padding-bottom: 9px;
}

.redactor-box .redactor-toolbar > li {
  border-right: 1px solid #ccc;
  & > a {
    padding: 20px;
  }
}

.nav-tabs ~ .tab-content {
  overflow: visible;
}

.dashboard-widget {
  .lead {
    position: absolute;
    content: " ";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    opacity: .69;
    width: 100%;
    height: 100%;
    transition: all 1s;
  }
  &:hover {
    .lead {
      transform: scale(1.2);
      opacity: .8;
    }
  }
}

.bg-brand {
  background-color: #222;
}

.panel-heading {
  .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    li {
      a {
        opacity: 1;
      }
    }
    & > li:first-child {
      padding-top: 0;
    }
    & > li:last-child {
      padding-bottom: 0;
    }
  }
}

.copyright {
  display: none;
}

.table > thead > tr > th {
  padding-left: 20px;
  padding-right: 20px;
}

// Basic nav tabs look like nav tabs simple
.nav-tabs:not(.original) {
  @extend .nav-tabs-simple;
}

// Fixes from platform
.navbar {
  border: none;
}

.panel-heading .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/**
 * Sidebar menu
 */

$sidebar-item-padding: 30px;
.page-sidebar .sidebar-header,
.sidebar-menu > .menu-items > .menu-items > li a {
  padding-left: $sidebar-item-padding;
  padding-right: $sidebar-item-padding;
}

// Submenus
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > a {
  padding-left: $sidebar-item-padding*1.5;
  padding-right: $sidebar-item-padding*0.5;
}

$color-menu-link: lighten($color-black, 20%);

@mixin activeMenuItem() {
  background-color: $color-menu-link-hover-background;
  color: $color-menu-link-active;
  & > .icon-thumbnail {
    color: $color-menu-link-active;
    opacity: 1;
  }
}

@mixin hoverMenuItem() {
  background-color: $color-menu-link-hover-background;
  color: $color-menu-link-active;
  & > .icon-thumbnail {
    color: $color-menu-link-active;
    opacity: 1;
  }
}

$menu-item-height: 40px;

.sidebar-menu {
  & > .menu-items {
    & > .menu-items {
      & > li {
        line-height: 0;
        a {
          width: 100%;
          color: $color-menu-link;
          background-color: $color-menu-link-background;
          font-size: 13px;
          min-height: $menu-item-height;
          line-height: $menu-item-height;
          &:hover {
            @include hoverMenuItem;
          }
          & > .icon-thumbnail {
            width: 30px;
            float: left;
            margin-right: 0;
            transform: none !important;
            background-color: transparent;
            text-align: left;
            line-height: $menu-item-height;
            & > i {
              font-size: 12px;
            }
            opacity: 0.4;
          }
        }
        &.active {
          & > {
            a {
              @include activeMenuItem;
              .arrow {
                &:before {
                  transform: rotate(-90deg);
                }
              }
            }
          }
        }
        &:hover {

        }
      }
    }
  }

  .open {
    a {

    }
    .icon-thumbnail {
    }
  }

  //
  /**
   * Submenu
   */
  & > .menu-items {
    & > .menu-items {
      & > li {
        ul.sub-menu {
          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 0;
          li {
            padding-left: 0;
            padding-right: 0;
            & > a {
              padding-top: 0;
              padding-bottom: 0;
            }
            &.active {
              a {
                @include activeMenuItem;
              }
            }
          }
          & > li {
            .icon-thumbnail {
              background-color: transparent;
              line-height: 40px;
            }
          }
        }
      }
    }
  }
}

/**
 * Small fixes
 * @todo cleanup
 */

.menu-pin .header .pull-right .header-inner {
  min-width: 0;
}

.sidebar-header .search-link i {
  margin-right: 15px;
}

.panel.panel-default {
  border-color: transparent;
}

body {
  background-color: #fff;
}

.page-sidebar {

}

.header {
  padding: 0 20px;
}

.content {
  padding-right: 0;
}

.pull-right .pagination {
  margin-top: 0;
  margin-bottom: 0;
}

.panel-footer {
  padding: 20px;
  background-color: transparent;
}

.btn.btn-navbar-cancel {
  border-color: transparent;
}

.navbar-nav > li > a {
  padding: 6px 10px;
  margin: 0 4px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.panel.panel-default .navbar-nav li a {
  padding-top: 7px;
  padding-bottom: 7px;
  min-width: 20px;
}

.navbar-nav > li > button {
  margin-top: 0;
}

.panel.panel-grid .navbar-nav li a {
  min-width: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.panel.panel-grid .navbar-brand {
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.02em;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel.panel-grid .navbar-nav, .panel.panel-grid .navbar-nav a, .panel.panel-grid .navbar-form, .panel.panel-grid .navbar-brand {
  margin: 0;
  line-height: 35px;
}

.panel.panel-default .panel-heading .navbar-form {
  margin-right: -30px;
}

.panel.panel-default .panel-heading .navbar {
  margin-bottom: 0;
}

.panel.panel-grid .panel-body {
  margin: -1px;
  padding: 0 4px;
  border-bottom: 1px solid #ddd;
}

.panel.panel-grid .navbar-brand {
  line-height: 40px;
}

.header {
  .breadcrumb {
    padding: 17px 0;
  }
}

.btn {
  &.btn-default {
    border-color: #ccc;
  }
}

.form-control {
  border-color: #ccc;
}

/**
 * Readonly reinvented
 */
.form-control[readonly] {
  color: #000;
  cursor: default;
}

.tab-pane {
  fieldset {
    margin-top: 20px;
  }
  legend {
    border-bottom-color: transparent;
    margin-bottom: 20px;
  }
}

.panel.panel-grid .panel-body {
  border-bottom: 0;
}

/**
 * No results
 */
.no-results {
  text-align: center;
}

/**
 * Prevent jumping
 */
.page-sidebar .sidebar-menu .menu-items {
  overflow-y: hidden;
}

/**
 * Lines
 */
//$line-color: #dce0e6;
$line-color: transparent;
.page-sidebar .sidebar-header, .header {
  border-bottom-color: $line-color;
}

/**
 * Action link
 */
.action-link {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: 700;
}

/**
 * Navbar-button
 */
$header-height: 60px;
.navbar-button {
  @extend .action-link;
  min-height: $header-height;
  line-height: $header-height;
  cursor: pointer;
  display: block;
  padding-left: 2em;
  padding-right: 2em;
  i {
    margin-left: 1em;
  }
  border-left: 1px solid $line-color;
  border-right: 1px solid $line-color;
  .dropdown-menu {
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .175);
    border: 1px solid $line-color;
    border-top-width: 0;
    & > li {
      & > a {
        @extend .action-link;
      }
    }
  }
}

/**
 * Breadcrumbs
 */
.breadcrumb a {
  @extend .action-link;
  opacity: 0.5;
  &.active {
    opacity: 1;
  }
}

.page-sidebar {
  border-right: 1px solid $line-color;
}

.sidebar-menu > .menu-items > .menu-items > li ul.sub-menu li {
  line-height: 0;
}

.table-responsive {
  & > .table {
    & > thead {
      & > tr {
        & > th {
          padding: 5px;
          font-size: 11px;
          &:first-child {
            padding-left: 5px!important;
          }
        }
      }
    }
    & > tbody {
      & > tr {
        & > td {
          padding: 5px;
          font-size: 12px;
        }
      }
    }
  }
}