@import url("//hello.myfonts.net/count/2b14c6");

@font-face {
  font-family: 'TradeGothicLTPro-Bold';
  src: url('/themes/frontend/standard/assets/standard/fonts/trade/2B14C6_0_0.eot');
  src: url('/themes/frontend/standard/assets/standard/fonts/trade/2B14C6_0_0.eot?#iefix') format('embedded-opentype'),
  url('/themes/frontend/standard/assets/standard/fonts/trade/2B14C6_0_0.woff') format('woff'),
  url('/themes/frontend/standard/assets/standard/fonts/trade/2B14C6_0_0.ttf') format('truetype');
  font-weight: 700;
}

