/*------------------------------------------------------------------
Pages v2.1.2
Theme : Default
Generated From LESS
[Table of contents]

1. Layouts
2. View Ports
3. Chat
4. Panels
5. Typography
6. Buttons
7. Alerts
8. Notifications
9. Progress Indicators
10. Modals
11. Tabs & Accordians
12. Sliders
13. Treeview
14. Nestables
15. Form Elements
16. Tables & Datatables
17. Charts
18. Lists
19. Social App
20. Email App
21. Calendar App
22. Login
23. Lockscreen
24. Timeline
25. Gallery
26. Vector Map
27. Pricing Table
28. Widgets
29. Misc
30. Print
31. Demo
-------------------------------------------------------------------*/

// Mixins tools
@import "mixins";
@import "modules/direction";

// Includes of Modules
@import "modules";

// Responsive Util
@import "responsive";

//Change your theme here 
@theme-name:"sanatorium";
@direction: ltr; // use `rtl` or `ltr

.theme {
    @import "themes/@{theme-name}/theme";
}
.theme();

// Fixes
select.input-sm {
    line-height: normal;
}

.sidebar-menu {
    padding-top: 20px;
}

.redactor.form-control:focus {
    background-color: #111;
}

.panel .panel.panel-menu .panel-heading {
    padding: 10px 20px;
    border: 1px solid #ddd;
}

.panel .panel-menu .panel-body {
    border: 1px solid #ddd;
    border-top: 0;
}

.page-sidebar .sidebar-header {
    //background-color: #f9f9f9;
}

.brand.inline, .sidebar-header {
    font-size: 23px;
}

.sidebar-header {
    text-align: right;
}

.header .brand {
    vertical-align: middle;
    width: 0px;
    text-align: left;
    padding-left: 80px;
    font-size: 0;
}

.panel-grid {
    //margin-top: 50px;
}

.menu-pin .header .header-inner {
    min-width: 280px;
}


/**
 * Checkbox filter
 */
.tab-content.filters {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.filter-checkbox {
    padding: 8px 15px;
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin: 5px;
    &:hover {
        border: 1px solid #bbb;
    }
}

.container-fluid.container-fixed-lg {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

body {
    background-color: @body-background;
}

.modal {
    &.modal-xlg {
        .modal-dialog {
            width: 90%;
        }
        .modal-header {
            height: 10vh;
            text-align: left;
            border-bottom: 1px solid #dedede;
        }
        .modal-footer {
            text-align: right;
            height: 9vh;
            padding-top: 25px;
            border-top: 1px solid #dedede;
        }
        .modal-body {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
            height: 71vh;
            position: relative;
            &>.row {
                height: 71vh;
                &>div {
                    height: 71vh;
                    &.col-sm-2 {
                        border-left: 1px solid #dedede;
                    }
                }
            }
        }
        .btn-primary {
            display: inline-block;
        }
    }
}

.bg-gray-lighter {
    background-color: @color-master-lighter;
}

.bg-gray-lightest {
    background-color: @color-master-lightest;
}

.bg-modal-secondary {
    background-color: #f2f2f2;
}

.extension-details {
    h2, .lead {
        display: block;
        float: left;
        width: 60%;
    }
}

.content {
    padding-left: 15px;
    padding-right: 15px;
}