//colors
$color_0: rgba(3,17,31,1);
$color_1: rgba(24,89,158,1);
$color_2: #03111f;
$color_3: #18599e;
$color_4: #f4efef;
$color_5: #e5e5e5;
$color_6: #fff;
$color_7: #37b999;
%extend_1 {
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
}
body {
	background: $color_0;
	background: -moz-linear-gradient(45deg, $color_0 0, $color_1 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, $color_0), color-stop(100%, $color_1));
	background: -webkit-linear-gradient(45deg, $color_0 0, $color_1 100%);
	background: -o-linear-gradient(45deg, $color_0 0, $color_1 100%);
	background: -ms-linear-gradient(45deg, $color_0 0, $color_1 100%);
	background: linear-gradient(45deg, $color_0 0, $color_1 100%);
	filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_2', endcolorstr='$color_3', gradienttype=1 );
}
#login-form {
	background-color: $color_4;
	max-width: 320px;
	margin: 0 auto;
}
.lato14400 {
	@extend %extend_1;
	&.control-label {
		@extend %extend_1;
	}
}
.panel-body {
	padding: 20px 50px;
}
.form-logo {
	max-width: 320px;
	margin: 80px auto;
	display: block;
}
.btn-default {
	color: $color_6;
	background-color: $color_7;
	width: 98%;
	margin-bottom: 10px;
	height: 30px;
}
a {
	color: $color_7;
}
.login-watermark {
	position: fixed;
	right: 10%;
	bottom: 5%;
	background-repeat: no-repeat;
	height: 300px;
	width: 250px;
}
label.control-label {
	background-color: $color_4;
	clear: both;
	display: block;
}
.form-group.form-group-default {
	background-color: $color_4;
	.control-label {
		padding: 0;
	}
	input.form-control {
		border: 2px solid $color_5;
		width: 98%;
		height: 30px;
		padding: 0;
	}
}
p.password.text-center {
	width: 50%;
	margin: 0 auto;
}
