/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 * Bootstrap............Twitter Bootstrap v3
 * Fonts................Set up fonts
 * Mixins...............Useful mixins
 *
 * HELPERS
 * Paddings.............Padding helper classes
 * Backgrounds..........Background classes
 * Fullheight...........Fullheight element
 *
 * GENERAL
 * Body.................Body styling
 * Headings.............H1-H6
 *
 * ELEMENTS
 * Buttons..............Buttons extended
 * Navbar...............Navigation bar
 * Panel-brand..........Brand type of panel
 * Form group...........Custom form group
 * Switchery............Switchery checkbox
 * Btn group............Button groups
 * Live edit............Live edit stuff
 * Alerts...............Alerts
 *
 * LAYOUTS
 * Default..............Default layout
 * Positioning..........Positioning and sizing elements
 *
 * SPECIFIC
 * Profile..............Profile
 */

/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

/**
 * Global
 */
@import "variables";

/**
 * Bootstrap
 */
@import "/../../../material/bootstrap/scss/bootstrap";

/**
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300);

$white: #fff;
$brand-primary-foreground: $white;

$brand-primary: #0a1729;

//

/**
 * Mixins
 */
@mixin typeStrong() {
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

@mixin typeLight() {
    font-weight: 300; 
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
}

.montserrat { @include typeStrong; }

.text-light { @include typeLight; }


/*------------------------------------*\
    #HELPERS
\*------------------------------------*/

/**
 * Paddings
 */
.p-t-40 { padding-top: 40px; }
.p-b-30 { padding-bottom: 30px; }
.p-t-30 { padding-top: 30px; }
.m-t-10 { margin-top: 10px; }

.no-v-m { margin-top: 0; margin-bottom: 0; }  // no vertical margin

.bg-gray-lighter    { background-color: $gray-lighter }
.bg-gray-lightest   { background-color: lighten($gray-lighter, 2%) }
.bg-primary, .primary-bg         
    { 
    //background-color: $brand-primary 
    background-image: linear-gradient(141deg, $brand-primary 0%, darken($brand-primary, 10%) 71%, darken($brand-primary, 20%) 100%);    
}

.bg-white {
    background-color: #fff;
}

.circular {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    width: 250px;
    height: 250px;

}

/**
 * Floating title
 */
@keyframes floattitle {
    0% {
        margin-top: 0px; 
        margin-bottom: -10px;
        opacity: 0;
    }

    100% {
        margin-top: -30px; 
        margin-bottom: 20px;
        opacity: 1;
    }
}

.floating-title { 
    animation-name: floattitle;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/**
 * Sinking title
 */
@keyframes sinktitle {
    0% {
        margin-top: -20px; 
        margin-bottom: 20px;
        opacity: 0;
    }

    100% {
        margin-top: 10px; 
        margin-bottom: -10px;
        opacity: 1;
    }
}

.sinking-title { 
    animation-name: sinktitle;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.navbar {
    .container {
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    }
}

.full-height {
    .primary-bg.navbar {
        background: transparent;
    }
}

/**
 * Backgrounds
 */
.primary-bg, .primary-bg.navbar {
    //background-color: $brand-primary;
    //background-image: linear-gradient(141deg, #13bfdf 0%, #42afe3 71%, #53a1eb 100%);   
    color: $brand-primary-foreground;
    .help-block {
        color: $brand-primary-foreground;
    }
    hr {
        border-top-color: lighten($brand-primary, 10%);
    }
    a {
        color: $brand-primary-foreground;
        text-decoration: underline;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    .navbar, & {
        @include typeStrong;
        a {
            text-decoration: none;
            &:hover {
                background-color: transparent;
            }
        }
        ul.nav {
            font-size: 11px;
            & > li {
                & > a:not(.avatar-dropdown) {
                    padding-top: 17.5px;
                    padding-bottom: 17.5px;
                }
            }
        }
        .navbar-brand {
            padding-top: 17.5px;
            padding-bottom: 17.5px;
        }
        .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
            background-color: transparent;
        }
        .dropdown-menu {
            font-size: 11px;
            padding-top: 10px;
            padding-bottom: 10px;
            a {
                line-height: 15px;
                color: #666;
                i, img {
                    width: 15px;
                    margin-right: 10px;
                    float: left;
                    display: inline-block;
                }
                &:hover {
                    color: #000;
                }
            }
            .active {
                a {
                    background-color: transparent;
                    color: #000;
                }
            }
        }
    }
    .navbar-toggle .icon-bar {
        background-color: $brand-primary-foreground;
    }
    .btn-group {
        .btn-default {
            background-color: transparent;
            color: lighten($brand-primary, 30%);
            border-color: lighten($brand-primary, 30%);
            &:hover {
                color: $brand-primary-foreground;
                border-color: $brand-primary-foreground;
            }
        }
    }
}

$navbar-margin-bottom-height: 25px;

.upper-stripe {
    margin-top: -1 * $navbar-margin-bottom-height;
}

.upper-stripe-shadow {
    box-shadow: inset 0 -4px 4px -4px rgba(0,0,0,0.6);
}

.primary-tabs {
    text-transform: uppercase;
    @include typeStrong;
    border-bottom: 0;
    font-size: 12px;
    & > li {
        & >a {
            border: 0!important;
            color: #fff;
            &:hover, &:focus {
                color: $brand-primary;
            }
        }
        &.active { 
            & > a {
                border: 0;
                color: $brand-primary;
                &:hover {
                    border: 0;
                }
            }
        }
    }
}

/**
 * Priority stars
 */
.input-priority {
    position: absolute;
    left: -15px;
}

/**
 * Landing height
 */
.landing-height {
    height: auto;
    @media(min-width:$screen-sm-min) {
        height: auto;
        min-height: calc(100% - 135px);
    }

    @media(max-height:800px) {
        height: auto;
        min-height: 100%; 
    }

    .base {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;

        .page {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

/**
 * Full height
 */
.full-height {
    min-height: calc(100vh - 135px);
}

/**
 * Webkit autofill pale yellow remove
 */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset!important;
}
/*------------------------------------*\
    #GENERAL
\*------------------------------------*/

html, body {
    height: 100%;
}

body {
    font-weight: 300;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
}

/*------------------------------------*\
    #ELEMENTS
\*------------------------------------*/

/**
 * Footer
 */
.footer {
    font-size: 11px;
    font-family: Arial, sans-serif;
    @media(max-width:$screen-xs-max) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/**
 * Buttons
 */
.btn {
    border-radius: 5px;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 18px;
    margin-bottom: 1em;
    @include typeStrong;
    &.btn-default {
        
    }
    &.btn-sm {
        font-size: 12px;
    }
}

/**
 * Panel brand
 */
.panel.panel-brand {
    background-color: transparent;
    box-shadow: none;

    .panel-heading {
        font-size: 44px;

    }
}

/**
 * Form groups
 */
.form-group {
    label, .control-label {
        @include typeStrong;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
    }
}
.form-group.form-group-default {
    background-color: $white;
    .help-block {
        display: none!important; // Because nobody needs your help!
    }
    .form-control {
        box-shadow: none;
        outline: 0;
        border: 0;
        font-family: Arial, sans-serif;
    }
    label {
        color: $white;
        &.control-label {
            color: $text-color;
        }
    }
    .form-control, .control-label {
        padding-left: 12px;
    }
}

/**
 * Switchery
 */
.switchery {
    margin-right: 1em;
}

/**
 * Btn groups
 */
.btn-group {
    .btn-sm {
        text-decoration: none;
        font-size: 11px;
        @include typeStrong;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
}

.btn-group-social {
    margin-top: 2em;
    i {
        display: none;
    }
}

/**
 * Tables
 */

.table {
    &.table-noborder {
        & > tbody {
            & > tr {
                & > td, th {
                    border-top: 0;
                    padding-left: 0;
                    //padding-right: 0;
                }
            }
        }
    }
}

/**
 * Live edit
 */
.live-edit-group {

    .live-edit-input {
        input, button, label, .btn {
            margin: 5px 0;
        }
        label {
            font-size: 12px;
            text-transform: uppercase;
            line-height: 1em;
        }
        input {
            font-size: 12px;
            height: 30px;
        }
    }
}

.alerts {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    .alert {
        margin-bottom: 0;
        border: 0;
        &:first-child {
            margin-top: -25px;
            margin-bottom: 25px;
        }
        @include typeStrong;
        font-size: 13px;
        &.alert-success { background-color: $brand-success; color: #fff; }
        &.alert-danger { background-color: $brand-danger; color: #fff; }
        &.alert-info { background-color: $brand-info; color: #fff; }
        &.alert-warning { background-color: $brand-warning; color: #fff; }
        &.alert-default { background-color: $gray; color: #fff; }
    }
}

/*------------------------------------*\
    #LAYOUTS
\*------------------------------------*/

/**
 * Default layout
 */
.layout-default {
    .navbar {
        //border-bottom: 5px solid #eee;
    }
}

/**
 * Positioning
 */

.cell-md-big {
    @media(min-width:$screen-md-min) {
        height: 80px;
        overflow: hidden;
    }
}

.cell-md-standard {
    @media(min-width:$screen-md-min) {
        height: 40px;
        overflow: hidden;
    }
}

.title-text-md {
    @media(min-width:$screen-md-min) {
        &>h1 {
            line-height: 95px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

/**
 * Forms
 */

.selectize-control.form-control {
    .selectize-input {
        height: $input-height-base;
        border-radius: $input-border-radius;
        line-height: 25px;  // @todo - find a way to calculate this value
    }
}

label.control-label {
    line-height: $input-height-base;
    margin-bottom: 0;
}

.live-edit-group {
    line-height: $input-height-base;
}

.hidden-label {
    display: none;
}

/**
 * Mini profile
 */
.avatar-xs {
    overflow: hidden;
    border-radius: 4px;
}

.menu-acount {
    &>li:last-child:not(.avatar-dropdown) {
        & > a > span {
            border: 2px solid #fff;
            border-radius: 20px;
            padding: 8px 15px;
            margin-top: -8px;
            margin-bottom: -8px;
        }
    }
}

/*------------------------------------*\
    #SPECIFIC
\*------------------------------------*/

@keyframes flyin {
    0% {
        opacity: 0;
        margin-top: -50px;
        margin-bottom: 50px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
        margin-bottom: 0px;
    }
}

/**
 * Profile
 */
.profile-col {
    & > h1 {
        margin-top: 0;
    }
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 25px;

    animation-name: flyin;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/**
 * Card
 */
.card {
    display: block;
    position: relative;
    .gravatar {
        img {
            width: 60px;
            height: 60px;
        }
        float: left;
        margin-right: 20px;
        border-radius: 50%;
        overflow: hidden;
    }
    h4 {
        margin: 0;
        padding-top: 10px;
        color: #333;
    }
    font-weight: 400;
    color: #666;
    overflow: hidden;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    i {
        position: absolute;
        color: #ccc;
        font-size: 48px;
        right: 0;
        top: -15px;
    }
    &:hover {
        i {
            color: $brand-primary;
        }
    }
}

.row.card-row {
    margin-bottom: 20px;
}

.linked-contacts {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0px 5px rgba(0,0,0,0.4);
    padding: 30px 30px 10px 30px;
    background-color: #fff;
    margin-top: 60px;
}

.help-block {
    a {
        border-bottom: 2px solid #fff;
        &:hover {
            border-bottom: 2px solid transparent;
        }
    }
}

.panel.panel-brand .panel-heading {
    font-size: 12px;
    padding-top: 0;
}

/*
.btn {
    &.btn-invite {
        font-size: 11px;
        padding: 3px 5px;
        margin-bottom: 0;
    }
}
*/

.live-edit-group .live-edit-control {
    float: right;
}

.live-edit-group .live-edit-control, .live-edit-group .live-edit-display {
    max-width: calc(100% - 100px);
}

.btn.btn-invite-modal {
    border: 1px solid $brand-primary;
    i {
        font-size: 32px;
        float: left;
    }
    &:hover {
        text-decoration: none;
    }
    .btn-label {
        padding-top: 10px;
        display: inline-block;
    }
}

.modal-dialog {
    z-index:1500;
}

.modal-footer {
    .btn {
        margin-bottom: 0;
    }
}

.lower-stripe {
    margin-top: 30px;
    @media(min-width:$screen-sm-min) {
        margin-top: 60px;
    }
}
